doctype html
html
  head
    meta(charset='utf-8')
    title: !=title
    style
      include node_modules/milligram/dist/milligram.min.css
      include examples/style.css
  body
    main
      !=content